In [64]:
import pandas as pd
sms = pd.read_csv("TRAIN_SMS.csv",encoding='latin-1')
new_sms = pd.read_csv("DEV_SMS.csv",encoding='latin-1')
sms.shape

(30000, 2)

In [65]:
sms.head()

  Label                                            Message
0   ham                 oh how abt 2 days before Christmas
1  info  Welcome to OVATION HOLD R.No. 184, 114, 395, 3...
2  info  Thank you for using your ICICI bank CREDITcard...
3   ham  schedule a meeting with the entire team in the...
4   ham                                Tommy is my brother

In [66]:
for col in sms.columns:
    if 'Unnamed' in col:
        del sms[col]

In [67]:
sms.head()

  Label                                            Message
0   ham                 oh how abt 2 days before Christmas
1  info  Welcome to OVATION HOLD R.No. 184, 114, 395, 3...
2  info  Thank you for using your ICICI bank CREDITcard...
3   ham  schedule a meeting with the entire team in the...
4   ham                                Tommy is my brother

In [68]:
sms = sms.rename(columns={'v1': 'label', 'v2': 'message'})
sms.head()

  Label                                            Message
0   ham                 oh how abt 2 days before Christmas
1  info  Welcome to OVATION HOLD R.No. 184, 114, 395, 3...
2  info  Thank you for using your ICICI bank CREDITcard...
3   ham  schedule a meeting with the entire team in the...
4   ham                                Tommy is my brother

In [69]:
sms.shape

(30000, 2)

In [70]:
sms.Label.value_counts()

info    13375
ham     10000
spam     6625
Name: Label, dtype: int64

In [71]:
sms['label_num']=sms.Label.map({"ham":0,"spam":1,"info":2})
# checking the conversion
sms.head()

  Label                                            Message  label_num
0   ham                 oh how abt 2 days before Christmas          0
1  info  Welcome to OVATION HOLD R.No. 184, 114, 395, 3...          2
2  info  Thank you for using your ICICI bank CREDITcard...          2
3   ham  schedule a meeting with the entire team in the...          0
4   ham                                Tommy is my brother          0

In [72]:
x = sms.Message
x_new = new_sms.Message
y = sms.label_num
print(x.shape)
print(y.shape)

(30000,)
(30000,)

In [96]:
# split x and y into traing and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=1)
print(x_train.shape)
print(x_test.shape)

(22500,)
(7500,)

In [101]:
# import and instatiate the countvectorizer with default parameter
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()
# Creating a document term matrix
x_train_dtm = vect.fit_transform(x_train)
x_train_dtm

<22500x31402 sparse matrix of type '<class 'numpy.int64'>'
	with 435745 stored elements in Compressed Sparse Row format>

In [102]:
# Transform testing data into document term matrix
x_test_dtm = vect.transform(x_test)
x_test_dtm

<7500x31402 sparse matrix of type '<class 'numpy.int64'>'
	with 136250 stored elements in Compressed Sparse Row format>

In [134]:
# Import and instatiate the naive bayes model
from sklearn.naive_bayes import MultinomialNB
from xgboost import XGBClassifier
nb = MultinomialNB()

ModuleNotFoundError: No module named 'xgboost'

In [104]:
# Train the model using x_train_dtm
%time nb.fit(x_train_dtm,y_train)
%time model.fit(x_train_dtm,y_train)

Wall time: 24 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [113]:
# make class prediction for x_test_dtm
y_pred_class = nb.predict(vect.transform(x_new))

In [118]:
y_pred_class_df =  pd.DataFrame(y_pred_class)

In [128]:
y_pred_class_df.columns = ["Label"]

In [130]:
y_pred_class_final = y_pred_class_df.Label.map({0:"ham",1:"spam",2:"info"})

In [133]:
y_pred_class_final

0        ham
1       info
2        ham
3       info
4       info
5        ham
6        ham
7       info
8       spam
9       info
10      info
11       ham
12      info
13      spam
14      info
15      info
16      info
17       ham
18      info
19       ham
20      info
21      spam
22       ham
23       ham
24       ham
25      spam
26      spam
27       ham
28      info
29      spam
        ...
7470    info
7471    spam
7472    info
7473    info
7474     ham
7475     ham
7476    info
7477     ham
7478     ham
7479     ham
7480    info
7481     ham
7482     ham
7483    info
7484    spam
7485     ham
7486    info
7487    spam
7488    info
7489     ham
7490    spam
7491     ham
7492     ham
7493     ham
7494    info
7495    info
7496     ham
7497    info
7498    spam
7499    info
Name: Label, Length: 7500, dtype: object

In [132]:
results = pd.DataFrame(y_pred_class_final)
results.to_csv('results.csv')

In [29]:
# calculate the accuarcy of class prediction
from sklearn import metrics
metrics.accuracy_score(y_test,y_pred_class)

0.99173333333333336

In [ ]:
y_pred_class = nb.predict()